In [1]:
from matplotlib.pyplot import show
from sklearn.ensemble import RandomForestClassifier
import os
import pandas as pd

In [2]:
path = "C:\\Users\\siewm\\OneDrive\\Desktop\\DNN practice\\data\\"
datafile = 'Video_games_esrb_rating.csv'
testdata = 'test_esrb.csv'

os.chdir(path)

d = pd.read_csv(path+datafile)
td = pd.read_csv(path+testdata)

In [3]:
d

,title,console,alcohol_reference,animated_blood,blood,blood_and_gore,cartoon_violence,crude_humor,drug_reference,fantasy_violence,...,sexual_content,sexual_themes,simulated_gambling,strong_janguage,strong_sexual_content,suggestive_themes,use_of_alcohol,use_of_drugs_and_alcohol,violence,esrb_rating
0,Monster Jam Steel Titans 2,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,E
1,Subnautica: Below Zero,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ET
2,NIER REPLICANT VER.1.22474487139…,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,M
3,Jamestown+,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,ET
4,Neptunia Virtual Stars,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,T
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1890,SENRAN KAGURA Peach Beach Splash,0,0,0,0,0,0,0,0,1,...,1,1,0,1,0,0,0,0,0,M
1891,Sneaky Bears,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,T
1892,SPARC,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,E
1893,Still Time,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,T
1894,Surf World Series,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,E

In [4]:
td

,title,console,alcohol_reference,animated_blood,blood,blood_and_gore,cartoon_violence,crude_humor,drug_reference,fantasy_violence,...,sexual_content,sexual_themes,simulated_gambling,strong_janguage,strong_sexual_content,suggestive_themes,use_of_alcohol,use_of_drugs_and_alcohol,violence,esrb_rating
0,Still Time,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,T
1,Surf World Series,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,E
2,The Metronomicon: Slay the Dance Floor,1,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,T
3,Windjammers,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,E
4,Rock of Ages 2: Bigger and Boulder,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,ET
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,For Honor,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,M
496,Victor Vran Overkill Edition,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,M
497,Danganronpa 1•2 Reload,0,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,M
498,Touhou Double Focus,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,T
499,Crypt of the Serpent King,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,T

In [5]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1895 entries, 0 to 1894
Data columns (total 34 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   title                     1895 non-null   object
 1   console                   1895 non-null   int64
 2   alcohol_reference         1895 non-null   int64
 3   animated_blood            1895 non-null   int64
 4   blood                     1895 non-null   int64
 5   blood_and_gore            1895 non-null   int64
 6   cartoon_violence          1895 non-null   int64
 7   crude_humor               1895 non-null   int64
 8   drug_reference            1895 non-null   int64
 9   fantasy_violence          1895 non-null   int64
 10  intense_violence          1895 non-null   int64
 11  language                  1895 non-null   int64
 12  lyrics                    1895 non-null   int64
 13  mature_humor              1895 non-null   int64
 14  mild_blood                1895 non-null   int64
 15  mild_cartoon_violence     1895 non-null   int64
 16  mild_fantasy_violence     1895 non-null   int64
 17  mild_language             1895 non-null   int64
 18  mild_lyrics               1895 non-null   int64
 19  mild_suggestive_themes    1895 non-null   int64
 20  mild_violence             1895 non-null   int64
 21  no_descriptors            1895 non-null   int64
 22  nudity                    1895 non-null   int64
 23  partial_nudity            1895 non-null   int64
 24  sexual_content            1895 non-null   int64
 25  sexual_themes             1895 non-null   int64
 26  simulated_gambling        1895 non-null   int64
 27  strong_janguage           1895 non-null   int64
 28  strong_sexual_content     1895 non-null   int64
 29  suggestive_themes         1895 non-null   int64
 30  use_of_alcohol            1895 non-null   int64
 31  use_of_drugs_and_alcohol  1895 non-null   int64
 32  violence                  1895 non-null   int64
 33  esrb_rating               1895 non-null   object
dtypes: int64(32), object(2)
memory usage: 503.5+ KB

In [6]:
td.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 34 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   title                     500 non-null    object
 1   console                   500 non-null    int64
 2   alcohol_reference         500 non-null    int64
 3   animated_blood            500 non-null    int64
 4   blood                     500 non-null    int64
 5   blood_and_gore            500 non-null    int64
 6   cartoon_violence          500 non-null    int64
 7   crude_humor               500 non-null    int64
 8   drug_reference            500 non-null    int64
 9   fantasy_violence          500 non-null    int64
 10  intense_violence          500 non-null    int64
 11  language                  500 non-null    int64
 12  lyrics                    500 non-null    int64
 13  mature_humor              500 non-null    int64
 14  mild_blood                500 non-null    int64
 15  mild_cartoon_violence     500 non-null    int64
 16  mild_fantasy_violence     500 non-null    int64
 17  mild_language             500 non-null    int64
 18  mild_lyrics               500 non-null    int64
 19  mild_suggestive_themes    500 non-null    int64
 20  mild_violence             500 non-null    int64
 21  no_descriptors            500 non-null    int64
 22  nudity                    500 non-null    int64
 23  partial_nudity            500 non-null    int64
 24  sexual_content            500 non-null    int64
 25  sexual_themes             500 non-null    int64
 26  simulated_gambling        500 non-null    int64
 27  strong_janguage           500 non-null    int64
 28  strong_sexual_content     500 non-null    int64
 29  suggestive_themes         500 non-null    int64
 30  use_of_alcohol            500 non-null    int64
 31  use_of_drugs_and_alcohol  500 non-null    int64
 32  violence                  500 non-null    int64
 33  esrb_rating               500 non-null    object
dtypes: int64(32), object(2)
memory usage: 132.9+ KB

In [7]:
d.describe(include='all')

,title,console,alcohol_reference,animated_blood,blood,blood_and_gore,cartoon_violence,crude_humor,drug_reference,fantasy_violence,...,sexual_content,sexual_themes,simulated_gambling,strong_janguage,strong_sexual_content,suggestive_themes,use_of_alcohol,use_of_drugs_and_alcohol,violence,esrb_rating
count,1895,1895.000000,1895.000000,1895.000000,1895.000000,1895.000000,1895.000000,1895.000000,1895.000000,1895.000000,...,1895.000000,1895.000000,1895.000000,1895.000000,1895.000000,1895.000000,1895.000000,1895.000000,1895.000000,1895
unique,1895,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
top,Monster Jam Steel Titans 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T
freq,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,689
mean,NaN,0.475462,0.050132,0.010026,0.227968,0.126121,0.019525,0.054354,0.034828,0.220580,...,0.034301,0.057520,0.067018,0.118206,0.035884,0.117678,0.015831,0.015831,0.063852,NaN
std,NaN,0.499529,0.218275,0.099655,0.419633,0.332074,0.138398,0.226774,0.183394,0.414748,...,0.182049,0.232895,0.250120,0.322937,0.186050,0.322312,0.124855,0.124855,0.244554,NaN
min,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
25%,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
50%,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
75%,NaN,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
max,NaN,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,NaN

In [8]:
td.describe(include='all')

,title,console,alcohol_reference,animated_blood,blood,blood_and_gore,cartoon_violence,crude_humor,drug_reference,fantasy_violence,...,sexual_content,sexual_themes,simulated_gambling,strong_janguage,strong_sexual_content,suggestive_themes,use_of_alcohol,use_of_drugs_and_alcohol,violence,esrb_rating
count,500,500.000000,500.000000,500.000000,500.000000,500.00000,500.00000,500.000000,500.000000,500.000000,...,500.00000,500.000000,500.00000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500
unique,494,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
top,88 Heroes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T
freq,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,184
mean,NaN,0.494000,0.052000,0.002000,0.244000,0.13200,0.02200,0.040000,0.032000,0.266000,...,0.02000,0.010000,0.02200,0.052000,0.050000,0.076000,0.086000,0.050000,0.308000,NaN
std,NaN,0.500465,0.222249,0.044721,0.429923,0.33883,0.14683,0.196155,0.176176,0.442307,...,0.14014,0.099598,0.14683,0.222249,0.218163,0.265264,0.280645,0.218163,0.462129,NaN
min,NaN,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
25%,NaN,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
50%,NaN,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
75%,NaN,1.000000,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,1.000000,...,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,NaN
max,NaN,1.000000,1.000000,1.000000,1.000000,1.00000,1.00000,1.000000,1.000000,1.000000,...,1.00000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,NaN

In [9]:
rf = RandomForestClassifier(n_estimators=100)

In [10]:
xtrain = d.drop(['title', 'esrb_rating'], axis=1)

In [11]:
ytrain = d['esrb_rating']

In [12]:
xtest = td.drop(['title', 'esrb_rating'], axis=1)

In [13]:
ytest = td['esrb_rating']

In [14]:
rf.fit(xtrain, ytrain)

RandomForestClassifier()

In [15]:
ypred = rf.predict(xtest)

In [16]:
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(ytest, ypred))

Accuracy: 0.844

In [17]:
ypred

array(['T', 'E', 'M', 'E', 'ET', 'M', 'M', 'ET', 'E', 'ET', 'T', 'T',
       'ET', 'ET', 'T', 'M', 'M', 'T', 'E', 'ET', 'T', 'ET', 'ET', 'T',
       'ET', 'ET', 'ET', 'T', 'M', 'T', 'T', 'ET', 'ET', 'T', 'ET', 'T',
       'M', 'ET', 'E', 'T', 'T', 'T', 'ET', 'M', 'E', 'E', 'T', 'ET',
       'ET', 'ET', 'T', 'T', 'T', 'ET', 'T', 'ET', 'ET', 'T', 'T', 'T',
       'E', 'T', 'ET', 'E', 'M', 'ET', 'T', 'E', 'E', 'E', 'E', 'ET', 'T',
       'ET', 'T', 'ET', 'T', 'M', 'E', 'E', 'T', 'T', 'T', 'ET', 'E', 'T',
       'T', 'T', 'ET', 'ET', 'E', 'ET', 'T', 'T', 'T', 'E', 'ET', 'ET',
       'ET', 'T', 'E', 'E', 'T', 'T', 'T', 'E', 'M', 'T', 'T', 'T', 'T',
       'ET', 'ET', 'T', 'E', 'T', 'T', 'ET', 'T', 'E', 'T', 'T', 'ET',
       'E', 'T', 'T', 'E', 'ET', 'ET', 'T', 'ET', 'T', 'M', 'ET', 'E',
       'T', 'ET', 'T', 'ET', 'ET', 'E', 'T', 'T', 'T', 'M', 'T', 'M', 'T',
       'ET', 'ET', 'ET', 'E', 'ET', 'T', 'E', 'E', 'E', 'M', 'T', 'T',
       'ET', 'ET', 'ET', 'E', 'M', 'ET', 'M', 'E', 'ET', 'T', 'T', 'ET',
       'T', 'T', 'M', 'E', 'M', 'T', 'ET', 'M', 'T', 'T', 'T', 'T', 'E',
       'T', 'ET', 'T', 'ET', 'E', 'E', 'E', 'ET', 'ET', 'T', 'T', 'M',
       'ET', 'ET', 'T', 'E', 'E', 'M', 'T', 'T', 'ET', 'T', 'E', 'ET',
       'M', 'M', 'T', 'E', 'T', 'T', 'E', 'M', 'E', 'T', 'ET', 'T', 'T',
       'M', 'E', 'T', 'E', 'T', 'E', 'T', 'M', 'T', 'T', 'T', 'T', 'M',
       'E', 'T', 'ET', 'E', 'E', 'E', 'ET', 'ET', 'ET', 'T', 'M', 'ET',
       'T', 'ET', 'T', 'T', 'ET', 'E', 'M', 'ET', 'T', 'E', 'T', 'ET',
       'T', 'ET', 'ET', 'M', 'M', 'ET', 'T', 'T', 'ET', 'T', 'M', 'E',
       'T', 'E', 'M', 'T', 'T', 'ET', 'E', 'M', 'ET', 'M', 'ET', 'E', 'T',
       'T', 'E', 'T', 'T', 'ET', 'T', 'T', 'T', 'ET', 'ET', 'T', 'T',
       'ET', 'E', 'ET', 'ET', 'M', 'ET', 'E', 'T', 'ET', 'T', 'T', 'E',
       'E', 'E', 'T', 'T', 'T', 'E', 'T', 'T', 'E', 'T', 'ET', 'E', 'M',
       'T', 'T', 'T', 'T', 'E', 'E', 'M', 'T', 'T', 'T', 'T', 'T', 'T',
       'T', 'ET', 'T', 'T', 'E', 'T', 'M', 'T', 'T', 'M', 'T', 'E', 'ET',
       'T', 'T', 'T', 'ET', 'ET', 'ET', 'T', 'E', 'M', 'M', 'T', 'T', 'T',
       'ET', 'ET', 'E', 'ET', 'ET', 'T', 'T', 'E', 'T', 'T', 'ET', 'E',
       'T', 'ET', 'E', 'E', 'ET', 'T', 'M', 'E', 'ET', 'E', 'E', 'E', 'T',
       'ET', 'E', 'ET', 'T', 'T', 'T', 'M', 'ET', 'M', 'T', 'E', 'ET',
       'T', 'T', 'E', 'ET', 'ET', 'M', 'T', 'T', 'ET', 'ET', 'T', 'T',
       'T', 'E', 'T', 'ET', 'ET', 'T', 'E', 'E', 'E', 'ET', 'T', 'ET',
       'ET', 'ET', 'M', 'E', 'T', 'T', 'T', 'ET', 'T', 'ET', 'E', 'E',
       'M', 'T', 'M', 'E', 'ET', 'T', 'T', 'T', 'M', 'T', 'T', 'T', 'T',
       'E', 'ET', 'T', 'M', 'T', 'E', 'M', 'M', 'T', 'ET', 'ET', 'T', 'T',
       'M', 'T', 'E', 'ET', 'T', 'E', 'T', 'T', 'T', 'ET', 'ET', 'M', 'E',
       'ET', 'M', 'T', 'M', 'E', 'T', 'ET', 'T', 'ET', 'T', 'T', 'M', 'T',
       'T', 'ET', 'E', 'E', 'ET', 'T', 'E', 'M', 'T', 'T', 'M', 'T', 'M',
       'ET', 'T'], dtype=object)